/*---------------
    HEADER
---------------*/

header{
    height: 90px;
    background-color: aquamarine;
}

/*---------------
    WRAPPER
---------------*/

.mas-wrapper{
    height: calc(100vh - 90px);
}

/*---------------
    ASIDE
---------------*/

aside{
    width: 120px;
    height: calc(100vh - 90px);
    background-color: #051e34;
    background-image: url(./img/sidebar-bg.png);
}

/*---------------
    MAIN
---------------*/

main{
    height: calc(100vh - 90px);
    background-color: red;
    flex-grow: 1;
}