/*---------------
    GENERAL
---------------*/

img{
    max-width: 100%;
}

/*---------------
    HEADER
---------------*/

header{
    height: 90px;
    background-color: aquamarine;
}

.ms-mobile-logo{
    max-width: 50px;
}

.ms-full-logo{
    display: none;
}

.ms-form-width{
    max-width: 700px;
}

.ms-bg-lightgrey{
    background-color: #e5e5e5;
}

.ms-search{
    border: 0;
    background-color: #E5E5E5;
}
header ul{
    list-style: none;
    gap: 20px;
}

header ul li{
    color: #5b5858;
}

.ms-yellow-text{
    color: #ff8f00;
}
/*---------------
    WRAPPER
---------------*/

.ms-wrapper{
    height: calc(100vh - 90px);
}

/*---------------
    ASIDE
---------------*/

aside{
    width: 120px;
    height: calc(100vh - 90px);
    background-color: #051e34;
    background-image: url(./img/sidebar-bg.png);
}

aside ul{
    padding-left: 0;
    list-style: none;
}

aside ul li{
    padding: 10px 0px;
}
/*---------------
    MAIN
---------------*/

main{
    height: calc(100vh - 90px);
    background-color: red;
    flex-grow: 1;
}

/*--------------------
    CONTROL CENTER
--------------------*/

#control-center{
    background-color: #1b72e8;
}

.ms-badge{
    background-color: #165bba;
    border-radius: 20px;
}

/*---------------
    RESPONSIVE
---------------*/

/*--------- SM ---------*/

@media screen and (min-width: 576px) {
    
}

/*--------- MD ---------*/

@media screen and (min-width: 768px) {

}

/*--------- LG ---------*/

@media screen and (min-width: 992px) {
    
    .ms-mobile-logo{
        display: none;
    }

    .ms-full-logo{
        display: block;
    }

    aside{
        width: 250px;
    }
}

/*--------- XL ---------*/

@media screen and (min-width: 1200px) {
    
}