/*---------------
    GENERAL
---------------*/

img{
    max-width: 100%;
}

/*---------------
    BUTTONS
---------------*/

.ms-btn{
    width: auto;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
}

.ms-btn-clean{
    background-color: #0D6DFD;
    color: white;
}

.ms-btn-save{
    background-color: #FFC107;
}

.ms-btn-trash, .ms-btn-edit{
    border: rgb(156, 156, 156) 2px solid;
    background-color: transparent;
}

.ms-btn-trash i, .ms-btn-edit i{
    filter: opacity(0.4);
}

/*---------------
    HEADER
---------------*/

header{
    height: 90px;
}

.ms-mobile-logo{
    max-width: 50px;
}

.ms-full-logo{
    display: none;
    
}

.ms-form-width{
    max-width: 700px;
}

.ms-bg-lightgrey{
    background-color: #e5e5e5;
}

.ms-search{
    border: 0;
    background-color: #E5E5E5;
}
header ul{
    list-style: none;
    gap: 20px;
}

header ul li{
    color: #5b5858;
}

.ms-yellow-text{
    color: #ff8f00;
}
/*---------------
    WRAPPER
---------------*/

.ms-wrapper{
    height: calc(100vh - 90px);
}

/*---------------
    ASIDE
---------------*/

aside{
    width: 100px;
    flex-shrink: 0;
    height: calc(100vh - 90px);
    background-color: #051e34;
    background-image: url(./img/sidebar-bg.png);
}

aside ul{
    padding-left: 0;
    list-style: none;
}

aside ul li{
    padding: 10px 0px;
}

aside ul li:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
/*---------------
    MAIN
---------------*/

main{
    height: calc(100vh - 90px);
    flex-grow: 1;
}

/*--------------------
    CONTROL CENTER
--------------------*/

#control-center{
    background-color: #1b72e8;
    padding-bottom: 50px;
}

.ms-main-container{
    width: 100%;
    height: calc(100vh - 90px);
    overflow-y: auto;
}

.ms-badge{
    background-color: #165bba;
    border-radius: 20px;
}

.ms-oc-width{
    width: 75% !important;
}

/*---------------
    TABLE
---------------*/

th img{
    width: 30px;
    border-radius: 50%;
}

.ms-fs-icon{
    font-size: 24px;
}

.ms-name-th{
    width: 50%;
}

.ms-state-th, .ms-action-th{
    width: 25%;
}

.ms-date-th, .ms-roi-th{
    display: none;
}

tbody tr td:nth-child(2), tbody tr td:nth-child(3){
    display: none;
}


/*---------------
    RESPONSIVE
---------------*/

/*--------- SM ---------*/

@media screen and (min-width: 576px) {
    
}

/*--------- MD ---------*/

@media screen and (min-width: 768px) {

    .ms-oc-width{
        width: 75% !important;
    }

    .ms-name-th{
        width: 40%;
    }
    
    .ms-date-th, .ms-action-th, .ms-state-th, .ms-roi-th{
        width: 15%;
    }

    .ms-date-th, .ms-roi-th, tbody tr td:nth-child(2), tbody tr td:nth-child(3){
        display: table-cell;
    }

}

/*--------- LG ---------*/

@media screen and (min-width: 992px) {
    
    .ms-mobile-logo{
        display: none;
    }

    .ms-full-logo{
        display: block;
    }

    aside{
        width: 150px;
    }

    .ms-oc-width{
        width: 60% !important;
    }

    .ms-name-th{
        width: 55%;
    }

    .ms-date-th, .ms-action-th{
        width: 15%;
    }

    .ms-state-th{
        width: 10%;
    }

    .ms-roi-th{
        width: 5%;
    }
    
}

/*--------- XL ---------*/

@media screen and (min-width: 1200px) {
    

}